#colores1{
	background-color: #ff0000;
	width: 55px;
	height: 55px;
	border-radius: 100%;
	position: absolute;
	animation: mover1 5s infinite alternate;
}
#contenedor1{
	background-color: #000000;
	color: aliceblue;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}