---

---

<div id="contenedor1">
	<p id="Saludo_principal">Hola, soy Stivenson, soy un desarrolador web y de base de datos</p>
</div>
<div id="contenedor2">
    <p>Trabajo con JavaScript,Atrox, HTML y CSS, desarrollando interfaces dinámicas con Web Components, validación de formularios y manejo de datos en JSON y localStorage. 
        También tengo conocimientos en Java, Spring Boot, C# (básico) y Python.</p>
</div>
